@font-face {
   font-family: 'VCR_OSD_MONO_1.001';
   font-display: swap;
   src: url('file:///C:/Users/RYZEN/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-07-11_192401/fonts/VCR_OSD_MONO_1.001/font.ttf');
}
